body {
    background: #8756DD;
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Crimson Text', serif; */
}

p {
    display: inline-block;
    width: 50%;
}

img {
    float: right;
    max-width: 100%;
    height: auto;
    transition: opacity 2s linear 0s;
    opacity: 0.2;
}

img:hover {
    max-width: 300px;
    height: auto;
    opacity: 1;
}