body {
	margin: 0;
}

article {
	max-width: 600px;
	font-family: 'Crimson Text', serif;
	/*   margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;   */
}

h1 {
	font-size: 32px;
	font-weight: normal;
	display: inline;
    margin-left: 4px;
    padding-right: 12px;
}

h2 {
	float: right;
	font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
    padding-right: 14px;
    border: 1px solid blue;
}

figure {
	margin: 0;
	text-align: center;
	/*   border-bottom: 4px solid #DD6547; */
	/*   padding-bottom: 20px; */
}

.ngv-logo {
	width: 90px;
	height: auto;
	margin-bottom: 20px;
}

.hokusai-s {
	max-width: 100%;
	height: auto;
}

/* hr {
border: none;
border-top: 4px solid #DD6547;
} */

p {
	font-size: 15px;
	margin: 12px;
	line-height: 1.3;
	max-width: 600px; 
	font-family: 'Raleway', sans-serif;
}

@media (min-width: 768px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 22px;
	}

	article {
		max-width: 571px;
		margin-left: auto;
		margin-right: auto;
		}

	.ngv-logo {
		width: 69px;
		height: auto;
		/*     margin: 0 -90px 0px 0; */
		display: block;
		float: right;
		/*     border: 1px solid red; */
	}

	figure::after {
		content: "";
		clear: both;
		display: table;
	}

	.hokusai-s {
		display: none;
	}

	.hokusai-m {
		background-image: url("http://www.mainichi-art.co.jp/pages/arcadelinks/hokusai-hashi/h6.jpg");
		height: 375px;
		max-width: 100%;
		background-repeat: no-repeat;
		margin-bottom: 30px;
	}

	p {
		font-size: 21px;
		width: 570px;
		border: 0px solid pink;
	}

	.col {

	}

	.col-left {
		float: left;
		width: 500px;
	}

	.col-right {
		float: right;
		/*     width: 144px; */
	}

	figure {
		border-bottom: none;
	}

	.ruby-logo {
		width: 155px;
	}
}

@media (min-width: 1024px) {
	.hokusai-m {
		height: 0px;
	}	
	.hokusai-l {
		height: 30px;
	}	
}

