body {
    background: #ABC6B6;
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Crimson Text', serif; */
}

h1 {
    display: inline;
}

img {
    display: inline;
    max-width: 100%;
    height: auto;
    opacity: 0.5;
}

img:hover {
    max-width: 100%;
    height: auto;
    opacity: 1;
}